@{
    ViewData["Title"] = "Changelog";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"] <small>in this version</small></h3>
* Implemented menu from XML
<br /><br />


<p>
    <b>0.2.0.0</b><br />
    * Improved changelog screen with ToDo
    * Implemented admin area
    * IP address works now in diagnostics. 
</p>
<p>
    <b>0.1.0.0</b><br />
    * Blog routing <br />
    * Sample dataset for blog<br />
    * Pagination <br />
    * Version numbering in footer<br />
    * Diagnostics run link in footer<br />
    * Helpers for IsAjaxReqest, IsMobileDevice, BrowserName<br />
</p>
<hr />

<h2>ToDo</h2>
<p><b>next...</b></p>
* pageview counter<br />
* logging implementation<br />
* editable menu<br />
* add new cms static page<br />
* add new blog post<br />
* multilanguage support<br />
<br />
<p><b>near future...</b></p>
* web api crud posts<br />
* web api list posts<br />
* web api list single post in detail<br />
<br />
<p><b>when nirvana arrives...</b></p>
* multiple domains on one installation<br />
* templating<br />
* edit css live<br />
* rss feed<br />
* built in statistics<br />
* pingbacks<br />
* sitemap<br />
* google/bing webmaster metadata<br />