@{
    ViewData["Title"] = "Changelog";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<b>in this version</b><br />
* Blog routing <br />
* Sample dataset for blog<br />
* Pagination <br />
* Version numbering in footer<br />
* Diagnostics run link in footer<br />
* Helpers for IsAjaxReqest, IsMobileDevice, BrowserName<br />
<hr />
<p>next...</p>
* ip address<br />
* pageview counter<br />
* logging implementation<br />
* editable menu<br />
* add new cms static page<br />
* add new blog post<br />
* multilanguage support<br />
<hr />
<p>near future...</p>
* web api crud posts<br />
* web api list posts<br />
* web api list single post in detail<br />
<hr />
<p>when nirvana arrives...</p>
* multiple domains on one installation<br />
* edit css live<br />
* rss feed<br />
* built in statistics<br />
* pingbacks<br />
* sitemap<br />
* google/bing webmaster metadata<br />